body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('bg2.jpg') no-repeat center center fixed;
    background-size: cover;

}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   width: 600px;
   padding: 2rem;
   background: rgba(112, 138, 139, 0.8);
   box-shadow: 0 16px 26px rgba(0, 0, 0, .5);
   border-radius: 12px;
   text-align: center;
}
.container h2{
    color: rgb(2, 16, 97);
    font-family: cursive;
    font-size: 100;
}
input{
    color: snow;
    padding: 0.8rem;
    border-radius: 20px;
    border:none;

}
button{
    background-color: rgb(148, 240, 189);
    color: rgb(2, 55, 68);
    font-weight: bold;
    width: 20%;
    font-family: cursive;
    padding: 0.6rem;
    border: none;
    border-radius: 5px;

}
.gender{
    color: palegreen;
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
}

.cuisine{
    color: palegreen;
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
}
.country{
    color: palegreen;
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
}
.gender input{
    color: papayawhip;
    font-weight: bold;
}
textarea{
    font-size: medium;
    font-family: cursive;
    color: rgb(2, 16, 97);
    width: 50px;
    height: 40px;


}




